{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/powersmelter/header.png",
      "fileBody" : "/interface/scripted/powersmelter/body.png",
      "fileFooter" : "/interface/scripted/powersmelter/footer.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [63, 75],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [5, 76],
      "dimensions" : [1, 1],
      "spacing" : [19, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [90, 76],
	  "slotOffset" : 1,
      "dimensions" : [1, 1],
      "spacing" : [19, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [105, 115]
    }
  },

  "scriptWidgetCallbacks" : [],

  "scripts" : ["/interface/scripted/powersmelter/powersmeltergui.lua"],
  "scriptDelta" : 0
}
