{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/basicgenerator/header.png",
      "fileBody" : "/interface/scripted/basicgenerator/body.png",
      "fileFooter" : "/interface/scripted/basicgenerator/footer.png"
    },
    "lblPowerGen" : {
      "type" : "label",
      "position" : [34, 97],
      "hAnchor" : "left",
      "value" : "Generate:"
    },
    "lblDynPowerGen" : {
      "type" : "label",
      "position" : [76, 97],
      "hAnchor" : "left",
      "value" : "0 F/t"
    },
    "lblFuel" : {
      "type" : "label",
      "position" : [34, 87],
      "hAnchor" : "left",
      "value" : "Fuel:"
    },
    "lblDynFuel" : {
      "type" : "label",
      "position" : [76, 87],
      "hAnchor" : "left",
      "value" : "0/0"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [63, 75],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "toggleGenerator" : {
      "type" : "button",
      "base" : "/interface/scripted/basicgenerator/button.png",
      "hover" : "/interface/scripted/basicgenerator/buttonhover.png",
      "press" : "/interface/scripted/basicgenerator/buttonhover.png",
      "caption" : "Toggle Gen",
      "position" : [9, 28]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [5, 76],
      "dimensions" : [1, 1],
      "spacing" : [19, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [105, 115]
    }
  },

  "scriptWidgetCallbacks" : [
    "toggleGenerator"
  ],

  "scripts" : ["/interface/scripted/basicgenerator/basicgeneratorgui.lua"],
  "scriptDelta" : 0
}
