{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/basicgenerator/header.png",
      "fileBody" : "/interface/scripted/basicgenerator/body.png",
      "fileFooter" : "/interface/scripted/basicgenerator/footer.png"
    },
    "pbDynEnergy" : {
      "type" : "progress",
      "position" : [14, 100],
      "background" : "/interface/scripted/basicgenerator/energybar.png:0",
      "progressSet" : {
        "inner" : "/interface/scripted/basicgenerator/energybar.png:1",
        "type" : "repeat"
      },
      "direction" : "vertical"
    },
    "pbDynFuel" : {
      "type" : "progress",
      "position" : [14, 80],
      "background" : "/interface/scripted/basicgenerator/fuelbar.png:0",
      "progressSet" : {
        "inner" : "/interface/scripted/basicgenerator/fuelbar.png:1",
        "type" : "repeat"
      },
      "direction" : "vertical"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [12, 60],
      "dimensions" : [1, 1],
      "spacing" : [19, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },

    "lblPowerGen" : {
      "type" : "label",
      "position" : [40, 117],
      "hAnchor" : "left",
      "value" : "Energy:"
    },
    "lblDynEnergy" : {
      "type" : "label",
      "position" : [60, 107],
      "hAnchor" : "left",
      "value" : "0/0"
    },
    "lblFuel" : {
      "type" : "label",
      "position" : [40, 69],
      "hAnchor" : "left",
      "value" : "Fuel:"
    },
    "lblDynFuel" : {
      "type" : "label",
      "position" : [60, 59],
      "hAnchor" : "left",
      "value" : "0/0"
    },
    "toggleGenerator" : {
      "type" : "button",
      "base" : "/interface/scripted/basicgenerator/button.png",
      "hover" : "/interface/scripted/basicgenerator/buttonhover.png",
      "press" : "/interface/scripted/basicgenerator/buttonhover.png",
      "caption" : "Toggle Gen",
      "position" : [22, 28]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [125, 160]
    }
  },

  "scriptWidgetCallbacks" : [
    "toggleGenerator"
  ],

  "scripts" : ["/interface/scripted/basicgenerator/basicgeneratorgui.lua"],
  "scriptDelta" : 0
}
